.start-over-flex-box {
  display: flex;
  justify-content: center;
}

.start-over-button {
  width: 10rem;
  height: 3rem;
  border-radius: 12px;
  border: 1px;
  cursor: pointer;
  background-color: #ff7d7d;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
}

.Card-Flex-Box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Card {
  width: 300px;
  height: 225px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: 0.1s cubic-bezier(0.2, 0.8, 0.2, 1);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.Card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
}

.Card:hover img {
  transform: translateY(-20px);
}

.Card img {
  position: absolute;
  top: 0;
  height: 110%;
  z-index: -1;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Card h3 {
  color: white;
  font-size: 30px;
  margin: 20px 0 0 20px;
  width: 190px;
}

.Card p {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  align-self: end;
  margin: 0 0 20px 20px;
}

@media only screen and (max-width: 399px) {
  .Card {
    width: 295px;
  }
}

@media only screen and (max-width: 380px) {
  .Card {
    width: 280px;
  }
}

@media only screen and (max-width: 375px) {
  .Card {
    width: 270px;
  }
}

@media only screen and (max-width: 360px) {
  .Card {
    width: 255px;
  }
}

@media only screen and (max-width: 350px) {
  .Card {
    width: 250px;
  }
}

@media only screen and (max-width: 340px) {
  .Card {
    width: 240px;
  }
}

@media only screen and (max-width: 335px) {
  .Card {
    width: 235px;
  }
}

@media only screen and (max-width: 330px) {
  .Card {
    width: 230px;
  }
}

@media only screen and (max-width: 320px) {
  .Card {
    width: 220px;
  }
}

@media only screen and (max-width: 310px) {
  .Card {
    width: 210px;
  }
}

@media only screen and (max-width: 305px) {
  .Card {
    width: 200px;
  }
}

@media only screen and (max-width: 300px) {
  .Card {
    width: 195px;
  }
}

@media only screen and (max-width: 290px) {
  .Card {
    width: 190px;
  }
}

@media only screen and (max-width: 285px) {
  .Card {
    width: 185px;
  }
}

@media only screen and (max-width: 280px) {
  .Card {
    width: 180px;
  }
}

.Cards h2 {
  margin: 3px 20px;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.CardGroup {
  margin: 50px 40px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  justify-items: center;
}

@media (max-width: 1060px) {
  .CardGroup {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .CardGroup {
    grid-template-columns: repeat(1, 1fr);
  }
}
