h3 {
  color: white;
  font-size: 25px;
  margin-top: 1rem;
  width: 190px;
  text-align: center;
}

.phone-number {
  color: white;
  text-align: center;
}

.link-to-image {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.link-to-image:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
}

.link-to-flex-box {
  display: flex;
  justify-content: center;
}

.Card {
  width: 300px;
  height: 15rem;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: 0.1s cubic-bezier(0.2, 0.8, 0.2, 1);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
}

.Card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
}

.Card:hover h3 {
  color: black;
}

.Card:hover img {
  transform: translateY(1px);
}

.Card img {
  position: absolute;
  top: 0;
  height: 15rem;
  width: 100%;
  z-index: -1;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Card p {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  align-self: end;
  margin: 0 0 20px 20px;
}

@media only screen and (max-width: 399px) {
  .Card {
    width: 295px;
  }
}

@media only screen and (max-width: 380px) {
  .Card {
    width: 280px;
  }
}

@media only screen and (max-width: 375px) {
  .Card {
    width: 270px;
  }
}

@media only screen and (max-width: 360px) {
  .Card {
    width: 255px;
  }
}

@media only screen and (max-width: 350px) {
  .Card {
    width: 250px;
  }
}

@media only screen and (max-width: 340px) {
  .Card {
    width: 240px;
  }
}

@media only screen and (max-width: 335px) {
  .Card {
    width: 235px;
  }
}

@media only screen and (max-width: 330px) {
  .Card {
    width: 230px;
  }
}

@media only screen and (max-width: 320px) {
  .Card {
    width: 220px;
  }
}

@media only screen and (max-width: 310px) {
  .Card {
    width: 210px;
  }
}

@media only screen and (max-width: 305px) {
  .Card {
    width: 200px;
  }
}

@media only screen and (max-width: 300px) {
  .Card {
    width: 195px;
  }
}

@media only screen and (max-width: 290px) {
  .Card {
    width: 190px;
  }
}

@media only screen and (max-width: 285px) {
  .Card {
    width: 185px;
  }
}

@media only screen and (max-width: 280px) {
  .Card {
    width: 180px;
  }
}
